VITE_CASDOOR_SERVER_URL=__CASDOOR_PUBLIC_URL__
VITE_CASDOOR_CLIENT_ID=__DOTBLUE_CASDOOR_CLIENT_ID__
VITE_CASDOOR_ORG_NAME=__CASDOOR_ORG_NAME__
VITE_CASDOOR_APP_NAME=__CASDOOR_APP_NAME__
VITE_BACKEND_URL=__DOTBLUE_BACKEND_PUBLIC_URL__
